/* Set the header opacity transition */
[data-focussed-nav] {
  transition: opacity calc(var(--focussed-twitter-transition, 0.5) * 1s) ease 0s;
}

/* Sets the visibility of the side bar with trends etc. Uses this to calculate a clip-path */
[data-testid='sidebarColumn'] {
  transition: opacity calc(var(--focussed-twitter-transition, 0.5) * 1s) ease 0s,
    clip-path calc(var(--focussed-twitter-transition, 0.5) * 1s) ease 0s;
  clip-path: inset(0 0 0 calc(var(--focussed-twitter-show-sidebar) * 100%));
}

/*
  Sets the opacity of the side bars based on the opacity variables.
  Uses the permanently dimmed value to calculate the correct opacity.
 */
[data-focussed-nav],
[data-testid='sidebarColumn'] {
  opacity: calc(
    (var(--focussed-twitter-dimmed, 1) * var(--focussed-twitter-dim-sides, 1)) +
      var(--focussed-twitter-opacity, 0.05)
  );
}

/* Ensures that the side bars have full opacity when hovered */
[data-focussed-nav]:hover,
[data-testid='sidebarColumn']:hover {
  opacity: 1;
}

div[data-testid='primaryColumn'] {
  border-color: rgba(47, 51, 54, var(--focussed-twitter-column-border, 1));
}

/* Applies margins to tweets and the compose tweet box */
[data-focussed-composer],
[data-testid='primaryColumn'] article,
[data-focussed-timeline] article {
  padding-top: calc(var(--focussed-twitter-tweet-margin, 0) * 1rem);
  padding-bottom: calc(var(--focussed-twitter-tweet-margin, 0) * 1rem);
  transition: padding calc(var(--focussed-twitter-transition, 0.5) * 1s) ease 0s;
}

/* .r-gu4em3 {
  opacity: var(--focussed-twitter-tweet-border, 1);
} */

/* Set tweet borders */
/* NOTE:: This is the most brittle part of the styling */
/* Often needs updating with the selector that's currently setting border-bottom-color */
div[data-testid='primaryColumn'] section > div > div > div > div > div,
div[data-testid='primaryColumn'] .r-1igl3o0,
div[data-focussed-page-header] {
  border-bottom-color: rgba(
    47,
    51,
    54,
    var(--focussed-twitter-tweet-border, 1)
  ) !important;
}

div[data-focussed-page-header] {
  border-color: rgba(47, 51, 54, var(--focussed-twitter-separator, 1));
}

/* Covers the pinned tweet too */
[data-focussed-headerbar] {
  opacity: var(--focussed-twitter-separator, 1);
}

/* Hide Metrics */
div[data-testid="retweet"] > div > div:nth-of-type(2) {
  opacity: calc(1 - var(--focussed-twitter-hide-retweets, 0));
}
div[data-testid="like"] > div > div:nth-of-type(2) {
  opacity: calc(1 - var(--focussed-twitter-hide-likes, 0));
}
div[data-testid="reply"] > div > div:nth-of-type(2) {
  opacity: calc(1 - var(--focussed-twitter-hide-replies, 0));
}

div[data-testid="DMDrawer"] {
  transition: opacity calc(var(--focussed-twitter-transition, 0.5) * 1s) ease 0s,
    clip-path calc(var(--focussed-twitter-transition, 0.5) * 1s) ease 0s;
  clip-path: inset(calc(var(--focussed-twitter-hide-dms) * 100%) 0 0 0);
  opacity: calc(1 - var(--focussed-twitter-hide-dms, 0));
}